{% extends 'admin_layout.html.twig' %}

{% block title %}
	{{ 'Dashboard'|trans }}
	|
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="p-4">
		<div class="">
			<h1 class="font-bold text-xl">Dashboard</h1>
		</div>

		<div class="mt-2 flex flex-wrap -mx-2">
			<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 mb-3 px-2">
				<div class="bg-white flex justify-between items-center p-3 shadow-md">
					<div>
						<span class="block font-bold text-2xl">{{ totalPageViews|format_number }}</span>
						<small class="block text-gray-500">Total Page Views</small>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" class="w-14 h-14">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
						</svg>
					</div>
				</div>
			</div>
			<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 mb-3 px-2">
				<div class="bg-white flex justify-between items-center p-3 shadow-md">
					<div>
						<span class="block font-bold text-2xl">{{ totalPublishedTutorials|format_number }}</span>
						<small class="block text-gray-500">Published Tutorials</small>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" class="w-14 h-14">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
						</svg>
					</div>
				</div>
			</div>
			<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 mb-3 px-2">
				<div class="bg-white flex justify-between items-center p-3 shadow-md">
					<div>
						<span class="block font-bold text-2xl">{{ totalActiveUsers|format_number }}</span>
						<small class="block text-gray-500">Active Users</small>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" class="w-14 h-14">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"/>
						</svg>
					</div>
				</div>
			</div>
			<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 mb-3 px-2">
				<div class="bg-white flex justify-between items-center p-3 shadow-md">
					<div>
						<span class="block font-bold text-2xl">{{ totalPublishedComments|format_number }}</span>
						<small class="block text-gray-500">Published Comments</small>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" class="w-14 h-14">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"/>
						</svg>
					</div>
				</div>
			</div>
		</div>

		<div class="flex -mx-2 flex-wrap">
			<div class="w-full lg:w-8/12 xl:w-9/12 mb-3 px-2">
				<div class="bg-white shadow-md">
					<div class="p-3">
						<h2 class="text-lg font-bold">Recent Tutorials</h2>
					</div>
					<hr>
					<div class="p-3 overflow-auto" style="height: 500px">
						<table class="w-full">
							<thead class="">
								<tr class="">
									<th>#</th>
									<th>Title</th>
									<th>Author</th>
									<th>Published At</th>
									<th style="width: 100px; text-align: center">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% set i = 1 %}
								{% for tutorial in tutorials %}
									<tr>
										<th scope="row">{{ i }}</th>
										<td>
											<a href="{{ path('tutorial_view', {'slug': tutorial.slug}) }}" class="text-reset" target="_blank">{{ tutorial.title }}</a>
										</td>
										<td>
											<a href="{{ path('show_user', {'username': tutorial.author.username}) }}" class="text-reset" target="_blank">@{{ tutorial.author.username }}</a>
										</td>
										<td>{{ tutorial.publishedAt|format_datetime }}</td>
										<td class="flex justify-center">
											<a href="{{ path('edit_tutorial', {'uuid': tutorial.uuid}) }}" class="inline-bloc" target="_blank">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
												</svg>
											</a>
											<a href="{{ path('delete_tutorial', {'uuid': tutorial.uuid}) }}" class="inline-bloc" target="_blank">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" class="w-5 h-5 text-red-600">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"/>
												</svg>
											</a>
										</td>
									</tr>
									{% set i = i + 1 %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-4/12 xl:w-3/12 mb-3 px-2">
				<div class="bg-white shadow-md">
					<div class="p-3">
						<h2 class="text-lg font-bold">Recent Log In</h2>
					</div>
					<hr>
					<div class="p-3 overflow-auto" style="height: 500px">
						{% for user in recentLogins %}
							<div class="flex items-center py-3 border-b">
								<img src="{{ user.avatar is null ? asset('images/avatar.png') : user.avatar }}" alt="{{ user.fullName }}" class="rounded-full w-12 h-12 object-cover cursor-pointer">
								<div class="ml-3">
									<a href="{{ path('show_user', {'username': user.username}) }}" class="font-bold">@{{ user.username }}</a>
									<small class="block text-gray-400">Logged In at
										{{ user.lastLogin|format_datetime }}</small>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-4/12 xl:w-3/12 mb-3 px-2">
				<div class="bg-white shadow-md">
					<div class="p-3">
						<h2 class="text-lg font-bold">Recent Comments</h2>
					</div>
					<hr>
					<div class="p-3 overflow-auto" style="height: 500px">
						{% for comment in recentComments %}
							<a href="{{ path('tutorial_view', {'slug': comment.tutorial.slug}) }}#comments_{{ comment.id }}" class="block py-3 border-b hover:bg-gray-100 px-1" target="_blank">
								<div class="flex justify-between items-center">
									<h5 class="mb-1 font-bold">@{{ comment.author.username }}</h5>
									{% if comment.state == constant('STATE_SUBMITTED', comment) %}
										<small class="px-1 rounded text-xs bg-yellow-400">submitted</small>
									{% elseif comment.state == constant('STATE_PUBLISHED', comment) %}
										<small class="px-1 rounded text-xs bg-green-500 text-gray-200">published</small>
									{% else %}
										<small class="px-1 rounded text-xs bg-red-500 text-gray-200">spam</small>
									{% endif %}
								</div>
								<p class="mb-1">{{ (comment.content|striptags|slice(0, 100))|raw }}</p>
								<small>{{ comment.createdAt|ago }}</small>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="w-full lg:w-8/12 xl:w-9/12 mb-3 px-2">
				<div class="bg-white shadow-md">
					<div class="p-3">
						<h2 class="text-lg font-bold">Popular Tutorials</h2>
					</div>
					<hr>
					<div class="p-3 overflow-auto" style="height: 500px">
						<table class="w-full">
							<thead class="">
								<tr>
									<th>#</th>
									<th>Title</th>
									<th>Author</th>
									<th>Published At</th>
									<th>Views</th>
								</tr>
							</thead>
							<tbody>
								{% set i = 1 %}
								{% for tutorial in popularTutorials %}
									<tr>
										<th scope="row">{{ i }}</th>
										<td>
											<a href="{{ path('tutorial_view', {'slug': tutorial.slug}) }}" class="text-reset" target="_blank">{{ tutorial.title }}</a>
										</td>
										<td>
											<a href="{{ path('show_user', {'username': tutorial.author.username}) }}" class="text-reset" target="_blank">@{{ tutorial.author.username }}</a>
										</td>
										<td>{{ tutorial.publishedAt|format_datetime }}</td>
										<td>
											{{ tutorial.views|format_number }}
										</td>
									</tr>
									{% set i = i + 1 %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
