<img src="{{ comment.author.avatar is null ? asset('images/avatar.png') : comment.author.avatar }}" alt="{{ comment.author.fullName }}" class="w-12 h-12 object-cover rounded-full" onerror="this.onerror=null;this.src='{{ asset('images/avatar.png') }}';">
<div class="ml-3 w-full" id="comments_{{ comment.id }}">
	<span class="block text-gray-600">
		<a href="{{ path('show_user', {'username': comment.author.username}) }}" class="font-bold text-gray-900 hover:underline dark:text-gray-300">
			@{{ comment.author.username }}
		</a>
		{% if comment.author == comment.tutorial.author %}
			<small class="bg-green-500 text-gray-200 px-1 text-xs">
				{{ 'author'|trans }}
			</small>
		{% elseif comment.author.hasRoles('ROLE_ADMIN') %}
			<small class="bg-blue-500 text-gray-200 px-1 text-xs">
				{{ 'team'|trans }}
			</small>
		{% endif %}
		&#8226;
		<span class="text-xs dark:text-gray-400">
			{{ comment.createdAt|ago }}
		</span>
	</span>

	<div class="mt-1 w-full dark:text-gray-300">
		{{ comment.content|raw }}
	</div>

	{% if is_granted('ROLE_USER') %}
		<span class="flex mt-3 text-xs">
			<span class="text-blue-600 hover:underline flex items-center cursor-pointer open-comment-form" comment="{{ comment.replyTo ? comment.replyTo.id : comment.id }}">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewbox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"/>
				</svg>
				<span class="ml-1">
					{{ 'reply'|trans }}
				</span>
			</span>
			{% if app.user == comment.author or is_granted('ROLE_ADMIN') %}
				<span class="ml-2">
					<a href="{{ path('delete_comment', {'id': comment.id}) }}" onclick="return confirm('{{ 'confirm.delete_comment'|trans }}')" class="text-blue-600 hover:underline">
						{{ 'delete'|trans }}
					</a>
				</span>
			{% endif %}
		</span>
	{% else %}
		<small class="text-gray-700 dark:text-gray-400">
			{{ 'login_to_comment'|trans }}.
			<a href="{{ path('app_login') }}?target={{ app.request.uri }}#comments" class="text-blue-600 underline dark:text-gray-400">{{ 'user.login'|trans }}</a>.
		</small>
	{% endif %}
</div>
