<div class="-mx-4">
	{% if tutorials|length == 0 %}
		<p class="p-4">
			{{ 'There is no data.'|trans }}
		</p>
	{% endif %}

	{% for tutorial in tutorials %}
		<div class="p-4 border-solid border-b border-gray-400 w-full sm:flex sm:items-start">
			{% if tutorial.thumbnailURL %}
				<div class="w-56 hidden sm:block">
					<a href="{{ path('edit_tutorial', {'uuid': tutorial.uuid}) }}">
						<img src="{{ tutorial.thumbnailURL }}" alt="" class="h-full w-full object-cover"/>
					</a>
				</div>
			{% endif %}

			<div class="{{ tutorial.thumbnailURL ? 'sm:ml-2' : '' }}">
				<h2 class="font-bold text-lg tracking-wide">
					<a href="{{ path('edit_tutorial', {'uuid': tutorial.uuid}) }}">{{ tutorial.title }}</a>
				</h2>
				<div class="mt-2">
					{% if tutorial.isPublished %}
						<span class="text-gray-700 block">{{ 'Published at'|trans }}:
							{{ tutorial.publishedAt|format_datetime() }}</span>
					{% else %}
						<span class="text-gray-700 block">{{ 'Created at'|trans }}:
							{{ tutorial.createdAt|format_datetime() }}</span>
					{% endif %}
					{% if tutorial.updatedAt %}
						<span class="text-gray-700 block">{{ 'Updated at'|trans }}:
							{{ tutorial.updatedAt|format_datetime() }}</span>
					{% endif %}
					{% if tutorial.isPublished %}
						<span class='flex items-center'>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye text-gray-700 h-4 w-4">
								<path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/>
								<circle cx="12" cy="12" r="3"/>
							</svg>
							<span class='ml-2 text-gray-700'>2,000</span>
						</span>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
