<div class="hero text-center pt-2 pb-6">
	<div class="container">
		<h1 class="font-bold text-2xl tracking-wide text-gray-900 lg:text-3xl">
			{{ tutorial.title }}
		</h1>

		<ul class="tags flex flex-wrap justify-center text-gray-700 space-x-5">
			{% for tag in tutorial.tags %}
				<li>
					<a href="{{ path('tag_tutorials', {'label': tag}) }}">#{{ tag }}</a>
				</li>
			{% endfor %}
		</ul>

		<div class="text-left mt-3 flex justify-between items-center">
			<div class="flex items-center">
				<a href="{{ path('show_user', {'username': tutorial.author.username}) }}">
					<img src="{{ asset('images/avatar.png') }}" alt="alioukahere" class="rounded-full w-12"/>
				</a>
				<div class="ml-2">
					<span class="block">
						<a href="{{ path('show_user', {'username': tutorial.author.username}) }}" class="font-bold text-gray-800 text-lg">
							@{{ tutorial.author.username }}
						</a>
					</span>
					{% if tutorial.isPublished %}
						<span class="text-gray-700 text-sm">{{ tutorial.publishedAt|format_date() }}</span>
					{% else %}
						<span class="text-gray-700 text-sm">{{ tutorial.updatedAt is empty ? tutorial.createdAt|format_date() : tutorial.updatedAt|format_date() }}</span>
					{% endif %}
				</div>
			</div>

			{% if tutorial.isPublished %}
				<div class="sm:flex sm:justify-end sm:items-center">
					<span class="flex items-center justify-end">
						<svg class="text-gray-700 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
						</svg>
						<span class="text-sm ml-2 text-gray-700">200</span>
					</span>
					<span class="items-center mt-1 hidden sm:mt-0 sm:ml-5 sm:flex">
						<svg class="text-gray-700 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"/>
						</svg>
						<span class="text-sm ml-2 text-gray-700">45</span>
					</span>
					<span class="flex items-center mt-1 sm:mt-0 sm:ml-5">
						<svg class="text-gray-700 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"/>
						</svg>
						<span class="text-sm ml-2 text-gray-700">10</span>
					</span>
				</div>
			{% endif %}
		</div>

		<div class="mt-2">
			<img src="{{ tutorial.pictureURL }}" alt="" class="h-full w-full object-cover shadow-2xl" style="max-height: 600px"/>
		</div>

		{% if tutorial.sourceCodeLink or tutorial.demoLink %}
			<div class="mt-6 space-x-4">
				{% if tutorial.sourceCodeLink %}
					<a href="{{ tutorial.sourceCodeLink }}" class="btn" target="_blank">CODE</a>
				{% endif %}
				{% if tutorial.demoLink %}
					<a href="{{ tutorial.demoLink }}" class="btn" target="_blank">DEMO</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>

<article class="container bg-lightGray p-4 text-lg text-justify text-black leading-relaxed xl:px-20">
	{{ tutorial.content|raw }}
</article>
