{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Practical tutorials to learn to code'|trans }}
	|
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="hero text-center px-4 pt-12 pb-20">
		<h2 class="font-bold text-3xl tracking-wide text-gray-900 lg:text-4xl">
			Learn. Code. Share.
		</h2>
		<h1 class="text-xl font-semibold text-gray-900 md:w-4/6 m-auto">
			{{ 'Learn to program with hands-on tutorials written by developers.'|trans }}
		</h1>
		<p class="mt-6 text-gray-900 md:w-4/6 lg:w-2/5 m-auto text-lg">
			{{ 'Kaherecode is an aspiring community for developers. A place to learn and share about programming.'|trans }}
			<a href="{{ path('user_register') }}" class="text-blue-600 underline">
				{{ 'Join us now'|trans }}...
			</a>
		</p>
	</div>

	<div class="container">
		<div class="mt-5 flex items-center justify-between">
			<h2 class="font-bold text-gray-900 text-2xl">
				{{ 'Recents tutorials'|trans }}
			</h2>
			<span>
				<a href="{{ path('tutorials') }}" class="underline text-blue-500">
					{{ 'View more'|trans }}...
				</a>
			</span>
		</div>

		{% include 'includes/_tutorials_list.html.twig' %}
	</div>

	<div class="sm:mt-3 text-center py-12 bg-darkGray" style="background-color: #0f0f0f; background: linear-gradient(333deg, #0f0f0f 17%, #3c3b3c 80%);">
		<div class="container">
			<h2 class="font-bold text-gray-100 text-2xl">{{ 'What do you want to learn today?'|trans }}</h2>

			<div class="mt-6 flex flex-wrap space-x-6 lg:space-x-8 items-center justify-center">
				<a href="{{ path('tag_tutorials', {'label': 'javascript'}) }}" class="bg-white p-2 rounded-md my-3">
					<img src="{{ asset('images/javascript.svg') }}" alt="" class="h-12">
				</a>
				<a href="{{ path('tag_tutorials', {'label': 'python'}) }}" class="bg-white p-2 rounded-md my-3">
					<img src="{{ asset('images/python.svg') }}" alt="" class="h-12">
				</a>
				<a href="{{ path('tag_tutorials', {'label': 'css'}) }}" class="bg-white p-2 rounded-md my-3">
					<img src="{{ asset('images/css.svg') }}" alt="" class="h-12">
				</a>
				<a href="{{ path('tag_tutorials', {'label': 'php'}) }}" class="bg-white p-2 rounded-md my-3">
					<img src="{{ asset('images/php.svg') }}" alt="" class="h-12">
				</a>
				<a href="{{ path('tag_tutorials', {'label': 'react'}) }}" class="bg-white p-2 rounded-md my-3">
					<img src="{{ asset('images/react.svg') }}" alt="" class="h-12">
				</a>
				<a href="{{ path('tag_tutorials', {'label': 'angular'}) }}" class="bg-white p-2 rounded-md my-3">
					<img src="{{ asset('images/angular.svg') }}" alt="" class="h-12">
				</a>
				<a href="{{ path('tag_tutorials', {'label': 'vue'}) }}" class="bg-white p-2 rounded-md my-3">
					<img src="{{ asset('images/vue.svg') }}" alt="" class="h-12">
				</a>
				<a href="{{ path('tag_tutorials', {'label': 'django'}) }}" class="bg-white p-2 rounded-md my-3">
					<img src="{{ asset('images/django.svg') }}" alt="" class="h-12">
				</a>
				<a href="{{ path('tag_tutorials', {'label': 'symfony'}) }}" class="bg-white p-2 rounded-md my-3">
					<img src="{{ asset('images/symfony.svg') }}" alt="" class="h-12">
				</a>
				<a href="{{ path('tag_tutorials', {'label': 'laravel'}) }}" class="bg-white p-2 rounded-md my-3">
					<img src="{{ asset('images/laravel.svg') }}" alt="" class="h-12">
				</a>
				<a href="{{ path('tag_tutorials', {'label': 'nodejs'}) }}" class="bg-white p-2 rounded-md my-3">
					<img src="{{ asset('images/nodejs.svg') }}" alt="" class="h-12">
				</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="mt-5 flex items-center justify-between">
			<h2 class="font-bold text-gray-900 text-2xl">
				Javascript
			</h2>
			<span>
				<a href="{{ path('tag_tutorials', {'label': 'javascript'}) }}" class="underline text-blue-500">
					{{ 'View more'|trans }}...
				</a>
			</span>
		</div>

		{% include 'includes/_tutorials_list.html.twig' with {'tutorials': jsTutorials} %}
	</div>
{% endblock %}
