{% extends 'base.html.twig' %}

{% block title %}
	{{ videos is defined ? 'Video tutorials'|trans : 'Tutorial lists'|trans }}
	{{ tag is defined ? ' - ' ~ tag|upper : '' }}
	|
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="hero text-center py-20">
		<div class="container">
			<h1 class="mt-4 font-bold text-3xl tracking-wide text-gray-900">
				{{ videos is defined ? 'Video tutorials'|trans : 'Tutorial lists'|trans }}
				{{ tag is defined ? ' - ' ~ tag|upper : '' }}
			</h1>
			<div class="mt-4">
				<input type="search" class="rounded w-full p-3 outline-none bg-white" placeholder="Rechercher..." style="max-width: 700px;">
			</div>
		</div>
	</div>
	<div class="container">
		{% include 'includes/_tutorials_list.html.twig' %}
		<div class="mt-4 mb-2">
			{{ knp_pagination_render(tutorials) }}
		</div>
	</div>
{% endblock %}
