{% extends 'emails/base.html.twig' %}

{% block content %}
<p>
    {{ 'email.new_tutorial_support'|trans({
        '%title%': tutorial.title,
        '%fullName%': tutorial.author.fullName,
        '%url%': url('show_user', {'username': tutorial.author.username}),
        '%username%': tutorial.author.username
    })|raw }}
</p>

<p>
<strong>Description</strong>: {{ tutorial.description }} <br>
<strong>Categories</strong>: {{ tutorial.tags|join(', ') }} <br>
<strong>{{ 'published_at'|trans }}</strong>: {{ tutorial.publishedAt|format_date() }} <br>
</p>
<p>
    <a href="{{ url('tutorial_view', {'slug': tutorial.slug}) }}" class="btn">{{ 'action.take_a_look'|trans }}</a>
</p>
{% endblock %}
