{% extends 'emails/base.html.twig' %}

{% block content %}
<p>
    A new comment have just been submitted by {{ comment.author.fullName }} - <a href="{{ url('show_user', {'username': comment.author.username}) }}">@{{ comment.author.username }}</a>.
</p>

<p>
    <strong>Tutorial</strong>: {{ comment.tutorial.title }} <br>
    <strong>Extract</strong>: {{ (comment.content|striptags|slice(0, 100))|raw }} <br>
    <strong>Submitted at</strong>: {{ comment.createdAt|format_datetime() }} <br>
</p>
<p>
    <a href="{{ url('tutorial_view', {'slug': comment.tutorial.slug}) }}#comments" class="btn">take a look</a>
</p>
{% endblock %}
