<h3>Hey {{ user.username }}!</h3>

<p>
    Bienvenue sur Kaherecode, c'est vraiment un plaisir de t'avoir avec nous! <br>
    Pour terminer ton inscription, <a href="{{ absolute_url(path('account_confirmation', {'token': user.confirmationToken})) }}">clique sur ce lien</a>.
</p>

<p style="margin-top: 1rem;">
    Tu peux aussi copier/coller ce lien dans ton navigateur
    <a href="{{ absolute_url(path('account_confirmation', {'token': user.confirmationToken})) }}">
        {{ absolute_url(path('account_confirmation', {'token': user.confirmationToken})) }}
    </a>.
</p>

<p style="margin-top: 1rem;">
    A très bientôt, t'es un(e) champion(ne) {{ user.username }}, <br>
    Aliou de Kaherecode
</p>
