<!DOCTYPE html>
<html lang="fr" class="dark">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="UTF-8">
		<title>
			{% block title %}Kaherecode
			{% endblock %}
		</title>

		<link rel="icon" href="{{ asset('images/favicon.ico') }}">

		<meta name="author" content="kaherecode"/>
		<meta name="owner" content="contact@kaherecode.com"/>
		<meta name="subject" content="programmation"/>
		<meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}"/>
		<meta property="og:locale" content="fr_FR">
		<meta property="og:site_name" content="Kaherecode">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@kaherecode">

		{% block meta %}
			<meta property="og:type" content="website"/>
			<meta name="twitter:creator" content="@kaherecode">
			<meta property="og:image" content="{{ absolute_url('images/kaherecode_banner.png') }}"/>
			<meta name="description" content="{{ 'site.description'|trans }} {{ 'site.bio'|trans }}">
			<meta property="og:description" content="{{ 'site.description'|trans }} {{ 'site.bio'|trans }}"/>
			<meta property="og:url" content="{{ url(app.request.attributes.get("_route"), app.request.attributes.get("_route_params")) }}"/>
			<meta property="og:title" content="{{ 'site.title'|trans }} | Kaherecode"/>
		{% endblock %}

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<body class="transition-colors duration-200 bg-gray-100 dark:bg-gray-900">
		{% include 'includes/_header.html.twig' %}

		{% include 'includes/_search_bar.html.twig' %}

		{% block body %}{% endblock %}

		{% include 'includes/_footer.html.twig' %}

		{% block scripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
