{% extends 'base.html.twig' %}

{% set user = app.user %}

{% block title %}
	{{ 'title.my_profile'|trans }}
	|
	{{ parent() }}
{% endblock %}

{% block body %}
	{% include 'includes/_show_user.html.twig' %}

	<div class="mt-5 tabs" id="profileTabs">
		<ul class="tab-list">
			<li class="tab-item active" data-target="tutorials">
				{{ 'title.my_tutorials'|trans }}
			</li>
			<li class="tab-item" data-target="bookmarks">
				{{ 'title.bookmarks'|trans }}
			</li>
		</ul>

		<div id="bookmarks" class="tab-content">
			<div class="container">
				{% include 'includes/_tutorials_list.html.twig' with {'tutorials': user.bookmarks} %}
			</div>
		</div>

		<div id="tutorials" class="tab-content">
			<div class="container">
				<div class="mt-5 tabs min-tabs" id="tutorialsTabs">
					<ul class="tab-list">
						<li class="tab-item active" data-target="drafts">
							{{ 'title.drafts'|trans }}
							({{ user.tutorials|filter(t => not t.isPublished)|length }})
						</li>
						<li class="tab-item" data-target="published">
							{{ 'title.published'|trans }}
							({{ user.tutorials|filter(t => t.isPublished)|length }})
						</li>
					</ul>

					<div id="drafts" class="tab-content">
						{% include 'includes/_profile_tutorials_list.html.twig' with {'tutorials': user.tutorials|filter(t => not t.isPublished)|sort((t1, t2) => t1.updatedAt < t2.updatedAt)} %}
					</div>

					<div id="published" class="tab-content">
						{% include 'includes/_profile_tutorials_list.html.twig' with {'tutorials': user.tutorials|filter(t => t.isPublished)|sort((t1, t2) => t1.publishedAt < t2.publishedAt)} %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
