{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title.change_password'|trans }}
	|
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="mt-20 mb-20 md:mt-32 md:mb-32 md:w-1/2 md:mx-auto lg:w-1/3">
			<h1 class="font-bold text-2xl dark:text-gray-300">
				{{ 'title.change_password'|trans }}
			</h1>

			{% if user %}
				<form method="post">
					{% if app.user %}
						<div class="mt-3 dark:text-gray-300">
							{{ 'logged_in'|trans }}
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">
								{{ 'user.logout'|trans }}
							</a>
						</div>
					{% endif %}

					{% for message in app.flashes('error') %}
						<span class="block mt-4 text-red-600 text-sm">
							{{ message }}
						</span>
					{% endfor %}

					{% for message in app.flashes('success') %}
						<span class="block mt-4 text-green-600 text-sm">
							{{ message }}
						</span>
					{% endfor %}

					<div class="form-group">
						<input type="password" name="password" placeholder="{{ 'label.new_password'|trans }}" required autofocus>
					</div>
					<div class="form-group mt-4">
						<input type="password" name="confirmPassword" placeholder="{{ 'label.confirm_password'|trans }}" required>
					</div>
					<div class="form-group">
						<button class="btn dark:bg-gray-200 dark:text-gray-900" type="submit" id="resetPassword">
							{{ 'action.validate'|trans }}
						</button>
					</div>
				</form>
			{% else %}
				<p class="mt-4 dark:text-gray-300">{{ 'no_password_request'|trans }}</p>
				<div class="mt-2 flex justify-between">
					<a href="{{ path('password_reset_request') }}" class="text-sm text-blue-500 underline dark:text-gray-300">
						{{ 'change_password'|trans }}
					</a>
					<a href="{{ path('app_login') }}" class="text-sm text-blue-500 underline dark:text-gray-300">
						{{ 'user.login'|trans }}
					</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
