{% extends 'base.html.twig' %}

{% block title %}
	{{ user.fullName }}
	|
	{{ parent() }}
{% endblock %}

{% block body %}
	{% include 'includes/_show_user.html.twig' %}

	<div class="mt-5 tabs" id="profileTabs">
		<ul class="tab-list">
			<li class="tab-item active" data-target="tutorials">
				{{ 'Tutorials'|trans }}
			</li>
			<li class="tab-item" data-target="courses">
				{{ 'Courses'|trans }}
			</li>
		</ul>

		<div id="courses" class="tab-content">
			<div class="container">
				<span class="block text-center p-4">
					{{ 'This feature will be added very soon'|trans }}
					&#128521!</span>
			</div>
		</div>

		<div id="tutorials" class="tab-content">
			<div class="container">
				{% include 'includes/_tutorials_list.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
